In [30]:
import pandas as pd

# Read the file and rename columns
df = pd.read_csv('./shipkey.txt', encoding='utf-8')
df.columns = ['shipkey', 'shipname']

# Clean the columns and add quotes
df['shipkey'] = df['shipkey'].str.replace('ship key :', '').apply(lambda x: f'"{x.strip()}",')
df['shipname'] = df['shipname'].str.replace('ship name :', '').apply(lambda x: f'"{x.strip()}",')

# Define the file names
shipkey_name = 'shipkey.xlsx'
shipname_name = 'shipname.xlsx'

# Create Excel writer with the correct file path
with pd.ExcelWriter(shipkey_name) as writer:
    df[['shipkey']].to_excel(writer, sheet_name='shipkey', index=False)
    
with pd.ExcelWriter(shipname_name) as writer:
    df[['shipname']].to_excel(writer, sheet_name='shipname', index=False)

# Display the cleaned dataframes with quotes
display(df[['shipkey']], df[['shipname']])

      shipkey
0     "S6BL",
1   "9V6247",
2   "9V7831",
3   "9V7835",
4   "9V7838",
..        ...
81  "9V2132",
82  "9V9309",
83   "S6AL7",
84  "9M2383",
85   "YBQR2",

[86 rows x 1 columns]

            shipname
0       "KOTA AZAM",
1      "KOTA CABAR",
2     "KOTA CAHAYA",
3     "KOTA CANTIK",
4      "KOTA CARUM",
..               ...
81     "KOTA SURIA",
82      "KOTA TEMA",
83    "KOTA TENAGA",
84     "SALAM MAJU",
85  "SELATAN DAMAI",

[86 rows x 1 columns]

In [10]:
import pandas as pd

# Attempt to read the CSV file with different encodings
encodings = ['utf-8', 'latin1', 'iso-8859-1', 'cp1252']

for encoding in encodings:
    try:
        email = pd.read_csv('./SHIP_EMAIL.csv', encoding=encoding)
        print(f"Successfully read the file with encoding: {encoding}")
        display(email)
        break
    except UnicodeDecodeError as e:
        print(f"Failed to read the file with encoding: {encoding}. Error: {e}")

# Clean and format the data
email['SHIP NAME'] = email['SHIP NAME'].apply(lambda x: f'"{x.strip()}"')
email['EMAIL'] = email['EMAIL'].apply(lambda x: f'"{x.strip()}"')

# Group by COMPANY and aggregate SHIP NAME and EMAIL into lists
grouped = email.groupby('COMPANY').agg({
    'SHIP NAME': lambda x: list(x),
    'EMAIL': lambda x: list(x)
}).reset_index()

# Display the grouped DataFrame
display(grouped)

# If you want to save the grouped data into a new CSV file
grouped.to_csv('grouped_ship_email.csv', index=False)

Failed to read the file with encoding: utf-8. Error: 'utf-8' codec can't decode byte 0xc7 in position 3: invalid continuation byte
Successfully read the file with encoding: latin1

    COMPANY        SHIP NAME                                     EMAIL
0       HMM      HMM PROMISE                       hpromise@hmms.co.kr
1       HMM     HMM BLESSING                      hblessing@hmms.co.kr
2     KLCSM           ADONIS                        adonis@sea-one.com
3     KLCSM     GLOBAL BRAVE                   globalbrave@sea-one.com
4     KLCSM  GLOBAL FRONTIER                globalfrontier@sea-one.com
..      ...              ...                                       ...
498     PIL        KOTA TEMA                    kota.tema@rclfleet.com
499     PIL      KOTA TENAGA          master.kotatenaga@orillamail.com
500     PIL      MATSON MAUI  master.matsonmaui@fleetmail.inmarsat.com
501     PIL       SALAM MAJU           master.salammaju@orillamail.com
502     PIL    SELATAN DAMAI        master.selatandamai@orillamail.com

[503 rows x 3 columns]

AttributeError: 'float' object has no attribute 'strip'