In [30]:
import pandas as pd

# Read the file and rename columns
df = pd.read_csv('./shipkey.txt', encoding='utf-8')
df.columns = ['shipkey', 'shipname']

# Clean the columns and add quotes
df['shipkey'] = df['shipkey'].str.replace('ship key :', '').apply(lambda x: f'"{x.strip()}",')
df['shipname'] = df['shipname'].str.replace('ship name :', '').apply(lambda x: f'"{x.strip()}",')

# Define the file names
shipkey_name = 'shipkey.xlsx'
shipname_name = 'shipname.xlsx'

# Create Excel writer with the correct file path
with pd.ExcelWriter(shipkey_name) as writer:
    df[['shipkey']].to_excel(writer, sheet_name='shipkey', index=False)
    
with pd.ExcelWriter(shipname_name) as writer:
    df[['shipname']].to_excel(writer, sheet_name='shipname', index=False)

# Display the cleaned dataframes with quotes
display(df[['shipkey']], df[['shipname']])

      shipkey
0     "S6BL",
1   "9V6247",
2   "9V7831",
3   "9V7835",
4   "9V7838",
..        ...
81  "9V2132",
82  "9V9309",
83   "S6AL7",
84  "9M2383",
85   "YBQR2",

[86 rows x 1 columns]

            shipname
0       "KOTA AZAM",
1      "KOTA CABAR",
2     "KOTA CAHAYA",
3     "KOTA CANTIK",
4      "KOTA CARUM",
..               ...
81     "KOTA SURIA",
82      "KOTA TEMA",
83    "KOTA TENAGA",
84     "SALAM MAJU",
85  "SELATAN DAMAI",

[86 rows x 1 columns]

In [15]:
import pandas as pd

# Attempt to read the CSV file with different encodings
encodings = ['utf-8', 'latin1', 'iso-8859-1', 'cp1252']

for encoding in encodings:
    try:
        email = pd.read_csv('./SHIP_EMAIL.csv', encoding=encoding)
        print(f"Successfully read the file with encoding: {encoding}")
        display(email)
        break
    except UnicodeDecodeError as e:
        print(f"Failed to read the file with encoding: {encoding}. Error: {e}")

# Fill NaN values with empty strings
email['SHIP NAME'] = email['SHIP NAME'].fillna('')
email['EMAIL'] = email['EMAIL'].fillna('')

# # Convert the columns to string and clean the data
# email['SHIP NAME'] = email['SHIP NAME'].astype(str).apply(lambda x: f'"{x.strip()}"')
# email['EMAIL'] = email['EMAIL'].astype(str).apply(lambda x: f'"{x.strip()}"')

# Group by COMPANY and aggregate SHIP NAME and EMAIL into lists
grouped = email.groupby('COMPANY').agg({
    'SHIP NAME': lambda x: list(x),
    'EMAIL': lambda x: list(x)
}).reset_index()

# Display the grouped DataFrame
display(grouped)

# If you want to save the grouped data into a new CSV file
grouped.to_csv('grouped_ship_email.csv', index=False)

Failed to read the file with encoding: utf-8. Error: 'utf-8' codec can't decode byte 0xc7 in position 3: invalid continuation byte
Successfully read the file with encoding: latin1

    COMPANY        SHIP NAME                                     EMAIL
0       HMM      HMM PROMISE                       hpromise@hmms.co.kr
1       HMM     HMM BLESSING                      hblessing@hmms.co.kr
2     KLCSM           ADONIS                        adonis@sea-one.com
3     KLCSM     GLOBAL BRAVE                   globalbrave@sea-one.com
4     KLCSM  GLOBAL FRONTIER                globalfrontier@sea-one.com
..      ...              ...                                       ...
498     PIL        KOTA TEMA                    kota.tema@rclfleet.com
499     PIL      KOTA TENAGA          master.kotatenaga@orillamail.com
500     PIL      MATSON MAUI  master.matsonmaui@fleetmail.inmarsat.com
501     PIL       SALAM MAJU           master.salammaju@orillamail.com
502     PIL    SELATAN DAMAI        master.selatandamai@orillamail.com

[503 rows x 3 columns]

,COMPANY,SHIP NAME,EMAIL
0,FMKL,"[PAN IVY, PAN SPIRIT, PAN UNITY, PAN EMERALD, ...","[panivy@sea-one.com, pan-spirit@sea-one.com, p..."
1,GFSM,"[THAI CHEMI, ONSAN CHEMI, DAESAN CHEMI, BANGKO...","[thaichemi@sea-one.com, onsanchemi@sea-one.com..."
2,GLOVIS,"[GLOVIS CARDINAL, GLOVIS COMPANION, GLOVIS SIL...","[?g_cardinal@glovis.sea-one.com, ?g_companion@..."
3,HMM,"[HMM PROMISE, HMM BLESSING]","[hpromise@hmms.co.kr, hblessing@hmms.co.kr]"
4,HOS,[VL BRILLIANT],[vl_brilliant@glovis.sea-one.com]
5,KLCSM,"[ADONIS, GLOBAL BRAVE, GLOBAL FRONTIER, GLOBAL...","[adonis@sea-one.com, globalbrave@sea-one.com, ..."
6,KSM,"[NOEL, DAEWOO DIAMOND, CS ONSAN, SEA CRYSTAL]","[noel@sea-one.com, daewoodiamond@sea-one.com, ..."
7,KSSÇØ¿î,"[GAS QUANTUM, GAS UTOPIA, GAS VENUS, GAS YOUNG...","[gtqu@kssfleet.com, gtut@kssfleet.com, gtve@ks..."
8,NJSM,"[JN IRIS, JN CAMELLIA, JN EMERALD, JN NEPTUNE]","[jniris@sea-one.com, jncamellia@sea-one.com, j..."
9,PANBULK,"[RIPLEY PIONEER, RIPLEY PROSPERITY, RIPLEY PRI...","[rpioneer@sunavfleet.com, rprosperity@sunavfle..."
10,PIL,"[KOTA ANGGUN, KOTA AZAM, KOTA CABAR, KOTA CAHA...","[master.kotaanggun@orillamail.com, master.kota..."
11,POLARIS,"[POLAR ACE, POLAR BRIGHT, SAO DIANA, SAO EBBA,...","[POLARACE@polaris-ship.com, POLARBRIGHT@polari..."
12,POSSM,"[ARBORELLA, BRASSIANA, BUM SHIN, BUM YOUNG, CI...","[ARBORELLA@panocean.com, BRASSIANA@panocean.co..."
13,SKÇØ¿î,"[C. GLORY, C. DIGNITY, K. HOPE]","[, Cdignity@SkyFile.com, Khope@SkyFile.com]"
14,SN GLOBAL,"[SN OPAL, SN SERENITY]","[snopal@sea-one.com, snserenity@sea-one.com]"
15,SONGA,"[SONGA PUMA, SONGA SAPPHIRE]","[master.songa-puma@songaship.com, master.songa..."
16,STX ¸¶¸°¼­ºñ½º,"[ULTRA ALPHA, DL OLIVE, DL LAVENDER, DL ACACIA...","[UTA@amosconnect.com, dlolive@bluewavemail.com..."
17,TMS,"[GNS HARMONY, GNS HARVEST, GNS HOPE]","[gnsharmony@arionmail.com, gnsharvest@bluewave..."
18,YOUHA MARINE,"[CS SUMMER, CS BREEZE, CS HANA]","[CSSUMMER@sea-one.com, CSBREEZE@sea-one.com, C..."
19,´õºíÀ¯¿À¼Ç,"[WOOHYUN SKY, WOOHYUN GREEN, WOOHYUN HOPE, WOO...","[whsky@woohyunshpg.co.kr, whgreen@woohyunshpg...."
20,µµ¸®ÄÚ,"[AH SHIN, CRYSTAL OCEAN, G POSEIDON, GMT ASTRO...","[asn@skyfile.com, cro@amosconnect.com, gpo@sks..."
21,¸®¾Ø½¬ÇÎ,"[RABIGH SUNSHINE, BUENA CONFIANZA]","[r.sunshine@sea-one.com, b.confianza@sea-one.com]"
22,¹üÁÖÇØ¿î,"[PANCON CHAMPION, PANCON GLORY, PANCON SUCCESS...","[pchm@panconship.co.kr, pglo@panconship.co.kr,..."
23,¼ºÈ£ÇØ¿î,"[SH OLIVIA, SH VENUS, SEONGHO ACE, NEW STAR, N...","[sh.olivia@sea-one.com, sh.venus@sea-one.com, ..."
24,½Ã³ëÄÚ½±¸Å´ÏÁö¸ÕÆ®,"[SAWASDEE SUNRISE, OCEAN CARRIER, BALTIC WEST]","[sawasdeesunrise@sea-one.com, oceancarrier@sea..."
25,½Ãµµ»ó¼±,"[DREAM ANGEL, DREAM BEAUTY, DREAM DIAMOND, DRE...","[dran@vessel.cidoship.com, drbe@vessel.cidoshi..."
26,½Å¼ºÇØ¿î,"[SHINSUNG BRIGHT, SHINSUNG ACCORD]","[s.bright@sksat.kr, s.accord@sksat.kr]"
27,¿ì¸²ÇØ¿î,"[WOOLIM 3, WOOLIM DRAGON]","[, ]"
28,ÀªÇÜ½¼,"[NEW FRONTIER1, NEW FRONTIER2]","[master.newfrontier1@ship.wilhelmsen.com, mast..."
29,ÀÎÅÍ·º½º ¸Þ°¡¶óÀÎ,"[MEGA TRUST, MEGA PASSION]","[megatrust@sea-one.com, megapassion@sea-one.com]"
30,Áß¾Ó»ó¼±,"[GLAD YOUNG, YOUNG HARMONY, YOUNG SPIRIT, YOUN...","[jaglad@sea-one.com, jaharmony@sea-one.com, ja..."
31,ÄÚ¸°½ºÅ¸,"[KS ADONIS, KS GRACE, POLARIS, KS CAMELLIA]","[ksad@sksat.kr, ksgr@sksat.kr, polaris@sksat.k..."
32,Å¸ÀÌÄï½¬ÇÎ,"[FG ROTTERDAM, JBU SAPPHIRE, JBU OPAL, CARIBBE...","[fgrotterdam@sea-one.com, jbusapphire@sea-one...."
33,ÇÏ³ª·ÎÇØ¿î,"[SEA EMPIRE, SEA OPAL, SEA HOPE, SEA DIAMOND, ...","[seaempire1@sksat.kr, seaopal1@sksat.kr, seaho..."
34,ÇÑ°­±Û·Î¹úÇØ¿î,"[GOLDEN MAPLE, MAPLE MARINA, MAPLE HARBOUR]","[goldenmaple@sksat.kr, maple_marina@skyfile.co..."
35,ÈÑ¾î¼±¹Ú,"[DONGBANG GIANT NO.1, DONGBANG GIANT NO.2, DON...","[dongbang.giant1@sea-one.com, dongbanggiant2@s..."

In [15]:
import pandas as pd

# Attempt to read the CSV file with different encodings
encodings = ['utf-8', 'latin1', 'iso-8859-1', 'cp1252']

for encoding in encodings:
    try:
        email = pd.read_csv('./KLCSM_SHIPKEY.csv', encoding=encoding)
        print(f"Successfully read the file with encoding: {encoding}")
        display(email)
        break
    except UnicodeDecodeError as e:
        print(f"Failed to read the file with encoding: {encoding}. Error: {e}")

# Print the column names to check for the correct names
print("Column names in the DataFrame:", email.columns)

# Assuming the correct column names are 'SHIP NAME', 'SHIP KEY', and 'KLCSM_EMAIL'
# Fill NaN values with empty strings
email['SHIP NAME'] = email['SHIP NAME'].fillna('')
email['SHIP KEY'] = email['SHIP KEY'].fillna('')
email['EMAIL'] = email['EMAIL'].fillna('')

# Ensure 'KLCSM_EMAIL' exists in the DataFrame
if 'COMPANY' in email.columns:
    # Group by 'KLCSM_EMAIL' and aggregate 'SHIP NAME' and 'SHIP KEY' into lists
    grouped = email.groupby('COMPANY').agg({
        'SHIP NAME': lambda x: list(x),
        'SHIP KEY': lambda x: list(x),
        'EMAIL': lambda x: list(x),
    }).reset_index()

    # Display the grouped DataFrame
    display(grouped)

    # Save the grouped data into a new CSV file
    grouped.to_csv('KLCSM_EMAIL_grouped.csv', index=False)
else:
    print("'KLCSM_EMAIL' column not found in the DataFrame.")

Successfully read the file with encoding: utf-8

,COMPANY,SHIP NAME,EMAIL,SHIP NAME.1,SHIP KEY
0,KLCSM,ADONIS,adonis@sea-one.com,ADONIS,3EGH4
1,KLCSM,GLOBAL BRAVE,globalbrave@sea-one.com,GLOBAL BRAVE,3FHX4
2,KLCSM,GLOBAL FRONTIER,globalfrontier@sea-one.com,GLOBAL FRONTIER,H3TS
3,KLCSM,GLOBAL GENESIS,globalgenesis@sea-one.com,GLOBAL GENESIS,3FLO2
4,KLCSM,GLOBAL HOPE,globalhope@sea-one.com,GLOBAL HOPE,3EZY7
5,KLCSM,K.ACACIA,acacia@sea-one.com,K.ACACIA,3FQY9
6,KLCSM,K.ASIAN BEAUTY,kasb@sea-one.com,K.ASIAN BEAUTY,3EUH5
7,KLCSM,K.ASTER,k.aster@sea-one.com,K.ASTER,3FUB2
8,KLCSM,K.DAPHNE,k.daphne@sea-one.com,K.DAPHNE,3EZF9
9,KLCSM,K.FREESIA,freesia@sea-one.com,K.FREESIA,H3DP
10,KLCSM,K.JASMINE,jasmine@sea-one.com,K.JASMINE,3EPQ5
11,KLCSM,K.MUGUNGWHA,mugungwha@sea-one.com,K.MUGUNGWHA,3ETM6
12,KLCSM,LAVENDER,lavender@sea-one.com,LAVENDER,3FHG3
13,KLCSM,ROSEMARY,rosemary@sea-one.com,ROSEMARY,3FBU8
14,KLCSM,SM CHALLENGER,smchallenger@sea-one.com,SM CHALLENGER,V7TJ5
15,KLCSM,SM DIAMOND,smdiamond@sea-one.com,SM DIAMOND,3FIJ5
16,KLCSM,SM DONGHAE,smdonghae2@sea-one.com,SM DONGHAE,3FLR8
17,KLCSM,SM DONGHAE 2,smdonghae@sea-one.com,SM DONGHAE 2,3FMR6
18,KLCSM,SM DRAGON,smdragon@sea-one.com,SM DRAGON,3FJZ7
19,KLCSM,SM EAGLE,eagle@sea-one.com,SM EAGLE,3EMX3
20,KLCSM,SM EMERALD,smemerald@sea-one.com,SM EMERALD,3EHZ7
21,KLCSM,SM FALCON,smfalcon@sea-one.com,SM FALCON,H3MW
22,KLCSM,SM GEMINI 1,smgemini1@sea-one.com,SM GEMINI 1,3FYA6
23,KLCSM,SM GEMINI2,smgemini2@sea-one.com,SM GEMINI2,3FVP5
24,KLCSM,SM HARMONY1,smharmony1@sea-one.com,SM HARMONY1,V7A2878
25,KLCSM,SM HARMONY2,smharmony2@sea-one.com,SM HARMONY2,D7VO
26,KLCSM,SM HEDLAND,smhedland@sea-one.com,SM HEDLAND,V7BW6
27,KLCSM,SM JEJU LNG1,smjejulng1@sea-one.com,SM JEJU LNG1,3FTI8
28,KLCSM,SM JEJU LNG2,smjejulng2@sea-one.com,SM JEJU LNG2,3ESH2
29,KLCSM,SM LION,smlion@sea-one.com,SM LION,3EKG8
30,KLCSM,SM NAVIGATOR,smnavigator@sea-one.com,SM NAVIGATOR,3ESW6
31,KLCSM,SM NEWORLEANS,smneworleans@sea-one.com,SM NEWORLEANS,V7A2392
32,KLCSM,SM OSPREY,smosprey@sea-one.com,SM OSPREY,3ECA6
33,KLCSM,SM PUMA,smpuma@sea-one.com,SM PUMA,3END5
34,KLCSM,SM ROBERTS BANK,smrobertsbank@sea-one.com,SM ROBERTS BANK,V7A2565
35,KLCSM,SM SAMCHEONPO,smsamcheonpo@sea-one.com,SM SAMCHEONPO,V7A2310
36,KLCSM,SM SANTOS,smsantos@sea-one.com,SM SANTOS,V7A2689
37,KLCSM,SM SEAHAWK,seahawk@sea-one.com,SM SEAHAWK,3FLV3
38,KLCSM,SM TIGER,smtiger@sea-one.com,SM TIGER,3FEJ7
39,KLCSM,SM VENUS1,smvenus1@sea-one.com,SM VENUS1,3EQL8
40,KLCSM,SM VENUS2,smvenus2@sea-one.com,SM VENUS2,3EZX3
41,KLCSM,SM VISION,smvision@sea-one.com,SM VISION,3EJN6
42,KLCSM,SM WHITE WHALE 1,smwhitewhale1@sea-one.com,SM WHITE WHALE 1,3FND8
43,KLCSM,SM WHITE WHALE 2,smwhitewhale2@sea-one.com,SM WHITE WHALE 2,3FCV5
44,KLCSM,WHITE ROSE,whiterose@sea-one.com,WHITE ROSE,3EEW7

Column names in the DataFrame: Index(['COMPANY', 'SHIP NAME', 'EMAIL', 'SHIP NAME.1', 'SHIP KEY'], dtype='object')

,COMPANY,SHIP NAME,SHIP KEY,EMAIL
0,KLCSM,"[ADONIS, GLOBAL BRAVE, GLOBAL FRONTIER, GLOBAL...","[3EGH4, 3FHX4, H3TS, 3FLO2, 3EZY7, 3FQY9, 3EUH...","[adonis@sea-one.com, globalbrave@sea-one.com, ..."